html {
    background-color: antiquewhite;
}

body {
    font-family: 'Rum Raisin', cursive;
}

/*FIX THIS*/
@media screen and (max-width: 600px) {
    #village-border-ai {
        width:min-content;
    }
} 
    
#countdownContainer {
    text-align: center;
    font-size: 30px;
    height: auto;
    width: auto;
    background-color: #F22E3E;
    margin: 0 auto;
    border: 5px solid #730202 ;
}

#countdownDiv {
    font-size: 100px;
}

#cargoContainer {
    text-align: center;
    height: auto;
    width: auto;
    background-color: #537345;
    margin: 0 auto;
    border: 5px solid #F23D5E;
}

.cargoField {
    border-radius: 25px;
    border: 5px #F2293A;
    padding: 10px;
    margin: 10px;
    text-align: center;
}

.convertButton {
    box-shadow:inset 0px 1px 11px 0px #fff6af;
    background:linear-gradient(to top, #F22E3E 5%, #ffab23 100%);
    background-color: #F23D5E;
    border-radius:20px;
    border:2px solid #F23D5E;
    display:inline-block;
    cursor:pointer;
    color: #730202;
    font-family: "Caladea", cursive;
    font-size:15px;
    font-weight:bold;
    padding:6px 24px;
    text-decoration:none;
    text-shadow:0px 1px 0px #F23D5E;
    }

#artStation {
    text-align: center;
    height: auto;
    width: auto;
    background-color: #6b9af2;
    margin: auto;
    border: 5px solid #BFBFBD;
}

#doodle {
    height: auto;
    width: auto;
    margin: 10 10 10 10;
    background-image: url(images/christmas-tree-plain-small.png);
    background-repeat: no-repeat;
    background-position: center;
}

#doodlepad {
    height: auto;
    width: auto; 
}

#yesorno {
    font-family: Gotu, cursive;
    font-size: 35px;
    padding: 10px;
    background-color: #fff6af;
}

#yesornobtn {
    box-shadow:inset 0px 1px 11px 0px #fff6af;
    background:linear-gradient(to top, #2ef248 5%, #ffab23 100%);
    background-color: #F23D5E;
    border-radius:20px;
    border:2px solid #F23D5E;
    display:inline-block;
    cursor:pointer;
    color: #730202;
    font-family: "Caladea", cursive;
    font-size:15px;
    font-weight:bold;
    padding:6px 24px;
    text-decoration:none;
    text-shadow:0px 1px 0px #F23D5E;
}

#snackSorting {
    text-align: center;
    height: auto;
    width: auto;
    background-color: #F23D5E ;
    margin: 0 auto; 
    border: 5px solid #537345;
}

#snacks, #santaSnacks {
    float:left;
    width: 150px;
    height: 300px;
    margin: 10px;
    padding: 10px;
    border: 1px solid black;
}

/*Reindeer Games*/
#reindeerGames {
    display: flex;
    text-align: center;
    height: auto;
    width: auto;
    background-color: #537345;
    margin: 0 auto;
    border: 5px solid #F23D5E;
    }

.reindeerButtons {
    display: flex;
    flex-flow: column;
    justify-content: center;
    margin: 10px;
}

select {
    width: 150px;
}