html {
    background-color: antiquewhite;
}

#countdownContainer {
    height: auto;
    width: auto;
    background-color: rgb(233, 71, 71);
    margin: 0 auto;
    border: 5px solid #888188;
}
#cargoContainer {
    height: auto;
    width: auto;
    background-color: rgb(22, 194, 137);
    margin: 0 auto;
    border: 5px solid #888188;
}

#artStation {
    height: auto;
    width: auto;
    background-color: gold;
    margin: auto;
    border: 5px solid #888188;
}

#swatchit {
    height: 50px;
    width: 50px;
    background-color: white;
}

#doodlepad {
    height: auto;
    width: auto;
    margin: 10 10 10 10;
    background-color: black;
}